* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  scrollbar-color: #e8e8e8 #e8e8e8;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #e8e8e8;
}

.home {
  width: 100%;
  background-color: #e8e8e8;
  padding: 4rem;
  padding-top: 0.4rem;
  padding-bottom: 0rem;
  margin: 0px;
}

.featured-post {
  width: 100%;
  height: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: row;
}
.featured-post:hover {
  cursor: pointer;
  border-radius: 30px;
}

.featured-post img{
  width: 50%;
  border-radius: 30px;
  object-fit: contain;
}

.featured-post div{
  padding: 2.4rem;
  width: 100%;
  display: inline-block;
  line-height: 3.6rem;
}

.featured-post div h3{
  font-size: 1.2rem;
  font-weight: 600;
}
.featured-post div h1{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.featured-post div p{
  line-height: 1.4rem;
  overflow-y: hidden;
}

.featured-blog-btn {
  width: 20%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  background-color: #c6c5c5;
  border-radius: 1.2rem;
}

.featured-blog-btn:hover {
  cursor: pointer;
  background-color: #aaa9a9;
}

.posts {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-top: 4rem;
}

.latest{
  width: 100%;
  padding: 2rem;
}

.latest > div {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

.latest hr{
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.popular {
  width: 34rem;
  max-height: 50vh;
  padding: 2rem;
  padding-top: 0rem;
}

.popular h2{
  padding-bottom: 1rem;
}

.popular-div {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
}

.popular-div:hover {
  border: 1px solid #212121;
  background-color: #f0f0f0;
}

.popular-div p {
  padding-top: 0.6rem;
  width: 100%;
  display: inline-block;
  max-height: 3rem;
  overflow:hidden;
}

.view-more {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: none;
  background-color: #c6c5c5;
  border-radius: 1.2rem;
}

.view-more:hover {
  cursor: pointer;
}

.view-more span {
  margin-left: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
}

.create-post {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
  height: 90vh;
}

.create-card {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  width: 70%;
  height: 50%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.create-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.create-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.create-group {
  position: relative;
}

.create-form .create-group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.create-form .create-group input,
.create-form .create-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: #fff;
}

.create-form .create-group input:placeholder-shown+ label,
.create-form .create-group textarea:placeholder-shown +label {
  top: 10px;
  background-color: #ffffff;
}


.create-form .create-group input:focus,
.create-form .create-group textarea:focus {
  border-color: #3366cc;
}

.create-form .create-group input:focus+ label, .create-form .create-group textarea:focus +label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.create-form .create-group textarea {
  resize: none;
  height: 100px;
}

.create-form button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-form button:hover {
  background-color: #27408b;
}

.blog-page {
  width: 100%;
  background-color: #e8e8e8;
  color: #212121;
  padding: 26%;
  padding-top: 0.4rem;
  padding-bottom: 4rem;
  margin: 0px;
}

.blog-page-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.blog-page-desc {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
}

.auth {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
.auth-container {
  background-color: #bca5a5;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.auth-container > h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.auth-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.auth-form ::placeholder {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.auth-form button {
  align-self: flex-end;
}

.auth-flex-column > label {
  color: #151717;
  font-weight: 600;
}

.auth-inputForm {
  border: 1.5px solid #c4c7c4;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}
.auth-inputForm > input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}

.auth-input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.auth-input:focus {
  outline: none;
}

.auth-inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.auth-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.auth-flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.auth-span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.auth-button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.auth-button-submit:hover {
  background-color: #252727;
}

.auth-p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.auth-btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.auth-btn:hover {
  border: 1px solid #2d79f3;
  ;
}

.comment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 2rem;
}

.comment-text {
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 20px;
  padding: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

.comment-text:focus {
  outline: 1px;
  border: 1px solid rgb(98, 98, 209);
}

.comment-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 1.2rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.comment-btn:active {
  background-color: #27408b;
}

.read-comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 0.4rem;
  margin-top: 1rem;
}

.read-comments h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.all-comments {
  padding-left: 0.4rem;
  max-height: 20rem;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}